
{% extends "protected_layout.html" %}

{% block script %}


<script src="{{ url_for('static', path='js/dashboard.js') }}"></script>

{% endblock %}

{% block content %}
<div>
	<h1>Chess Tactics Trainer</h1>
	<h2>Welcome <span id="user-first-name"> </span></h2>
	<button onclick="logout()">
		Log off
	</button>

	<h3><a hreflang="en" href="https://www.lichess.org/training/mix">
		New puzzles
	</a>

		&nbsp;
		&nbsp;
		&nbsp;
		<span id="new-count">
			</span>
		new puzzles solved today

	</h3>

	<h3>
		<a hreflang="en" href="/get-puzzle">
			Review puzzles
		</a>
		&nbsp;
		&nbsp;
		&nbsp;

		<span id="finished-review-count">
			</span>
		&nbsp;
		/
		&nbsp;
		<span id="total-review-count">
			</span>

	</h3>


	<h3><a hreflang="en" href="/puzzle">
		Solve a puzzle!
	</a>
	</h3>
</div>
{% endblock %}

