<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/login-style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form action="" method="post">
  <div class="form-field">
    <input id="username" name="username" type="text" placeholder="Username" value="" required/>
  </div>
  
  <div class="form-field">
    <input id="password" name="password" type="password" placeholder="Password" value="" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
