
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	{% endblock %}
	<style>
		.hidden {
			display: none !important;
		}
	</style>

	<!--
	<script src="http://localhost:8080/auth/js/keycloak.js"></script>
	<script src="static/js/myLogic.js"></script>
	<script>
			console.log(keycloak.idTokenParsed)
			await initKeycloak()
			const userId = keycloak.idTokenParsed.sub
			console.log(keycloak.idTokenParsed)


		run()
	</script>
	-->

		{% block script %}
		{% endblock %}

	<script>
		(async() => {
			console.log('before start');

			userFunctions = await run()
			console.log(userFunctions)
			console.log('after start');
		})();
	</script>

</head>
<body>
<div id="error-div" class="hidden">
	<h1>An error occured.</h1>
</div>
<!--
<div id="body-div" class="hidden">
-->
<div id="body-div">



	{% block content %} {% endblock %}

</div>
<script>
	document.getElementById("body-div").classList.remove("hidden")
</script>
</body>
</html>

