
{% extends "protected_layout.html" %}

  {% block head %}
  <title>Chess puzzle</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/chessboard-1.0.0.min.css') }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src=" {{ url_for('static', path='js/chessboard-1.0.0.min.js') }}"></script>
  <script src="{{ url_for('static', path='js/chess.js') }}"></script>

<style>
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
</style>
  {% endblock %}


{% block content %}

<div style="display: flex; justify-content: center">
<div id="top" style="height: 50px"></div>
</div>



<div style="display: flex; justify-content: center;">
  <div>
    <div id="myBoard" style="width: 600px"></div>
  </div>
</div>

<div style="height: 40px">

</div>
<div id="before" class="hidden" style="display: flex; justify-content: center">
  <h3>How did you spend your time since the last chess break?</h3>
  <input type="text" id="breakInput" name="bi" autofocus><br><br>
</div>

<div id="during" class="hidden">
  <div style="display: flex; justify-content: center">
    <input type="text" id="candidateMoveInput" name="cm" maxlength="4"><br><br>
  </div>
  <div style="height: 40px; display: flex; justify-content: center">
  </div>
  
</div>


<div style="display: flex; justify-content: center">

  <div id="after" class="hidden">

    <div class="hidden">
    <div style="display: flex; justify-content: center">
      <h3>Post Mortem: </h3>
    </div>
    <div style="display: flex; justify-content: center">
      <input style="height:40px" type="text" id="postMortemInput" name="pm"><br><br>
    </div>
    </div>
    <button id="nextPuzzleButton" onclick="userFunctions['submitSession']('puzzle')">Save & Go To Next Puzzle</button>
    <button onclick="userFunctions['submitSession']('menu')">Save & Go Back To Menu</button>
    <button onclick="userFunctions['submitSession']('solution')">Save & Review Solution</button>
  </div>
</div>


{% endblock %}

{% block script %}

<script src="{{ url_for('static', path='js/puzzle.js') }}"></script>

{% endblock %}