
<html>
	<head>
		<style>
* {
	font-family: sans-serif;
}
		body {
			padding: 20px;
		}
		table {
			border-collapse: collapse;
			text-align: right;
		}
		table tr {
			border-bottom: 1px solid
		}
		table th, table td {
			padding: 10px 20px;
		}
		</style>
	</head>
	<body>

		<h1>My Report</h1>

		{{ my_table }}

		<img src='plot.svg' width="600">

	</body>
</html>


