{% extends "protected_layout.html" %}

{% block content %}
	<h1>Chess Tactics Trainer</h1>
	<h2>Welcome <span id="user-first-name"> </span></h2>
	<button onclick="logout()">
		Log off
	</button>
	<!--
	<iframe src="/dashboard" style="height:800px;width:1200px; border:none;">

		{{ dash_component }}
	
	</iframe>
	-->
{% endblock %}

{% block script %}

<script src="{{ url_for('static', path='js/welcome.js') }}"></script>

{% endblock %}